ion-header {
  --background: white;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.image-container img {
  width: 80%;
  border-radius: 10px;
}

ion-footer {
  --background: black;
  padding: 10px;
}

.footer-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

ion-icon {
  font-size: 32px;
  color: white;
}

ion-icon:hover {
  cursor: pointer;
  color: #ffd700; /* Star gold color on hover */
}
